html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: $text;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.title {
    font-weight: 600;
    color: $title;
}
img {
    display: block;
}
ul,
li {
    list-style: none;
}
a {
    color: $title;
    text-decoration: none;
}
.item-block {
    &__img {
        width: 88px;
        height: 88px;
        border-radius: 50%;
        position: relative;
        img {
            position: absolute;
            left: 44px;
            top: 42px;
            transform: translate(-50%, -50%);
        }
    }
    &__text {
        max-width: 300px;
        &-title {
            font-size: 20px;
            margin-bottom: 10px;
        }
    }
}
